{% extends 'admin/master.html' %}
{% block head_css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='meowl.css') }}">
{% endblock %}

{% block body %}
<div class="container mt-4">
  <div class="card">
    <h2 class="mb-3">Criar novo Usuario</h2>

    <form method="POST" action="" enctype="multipart/form-data">
      {% for field in form if field.type == 'HiddenField' %}
        {{ field }}
      {% endfor %}
      
      {% for field in form %}
        {% if field.type != 'HiddenField' %}
          <div class="form-group mb-3">
            {{ field.label(class_="form-label") }}
            {{ field(class_="form-control") }}
            {% if field.errors %}
              <div class="text-danger small">{{ field.errors[0] }}</div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}

      <div class="d-flex justify-content-between mt-4">
        <button type="submit" class="btn btnn">Salvar</button>
        <a href="{{ url_for(admin_view.endpoint + '.index_view') }}" class="btn cancelar">Cancelar</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}

